body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins';
}
/* en tete avec le logo */
header{
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #141414;
}
/* barre de recherche avec le degrader et la position des A */
#navbar{
    padding: 1%;
    background: linear-gradient(to right , #191B30 , #43243A);
    display: flex;
    justify-content: start;
}

#navbar a{
    color: white;
    text-decoration: none;
    margin-left: 5%;
}

/* container catégories */
.container-categories{
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.container-categories h2{
    color: white;
    margin-left: 2vh;
}

.card-categories{
    display: flex;
    justify-content: center;
}

.card{
    background-color: #F3F3F3;
    margin: 2vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
}

.card-text{
    padding: 1.5vh;
    font-size: .8em;
}

.card img{
    width: 100%;
}

/* checkbox */
.check-label{
    font-weight: bold;
}

/* boutton valider */
.btn-valide{
    background: linear-gradient(to right , #191B30 , #43243A);
    color: white;
    border: none;
    padding: 1.5vh;
    margin-left: 2vh;
}

.btn-valide:hover{
    background-color: #141414;
}

/* dark part footer */
.container-dark-part-footer{
    background-color: #141414;
    color: white;
}

.nav-dark-part-footer{
    display: flex;
    gap: 5vw;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 5vw;
}

.copyright{
    display: flex;
    justify-content: center;
    background: linear-gradient(to right , #191B30 , #43243A);
}

.lst-footer span{
    font-weight: bold;
    padding-bottom: 20px;
}

.lst-footer ul{
    margin-top: 0%;
}

.lst-footer li{
    list-style: none;
    line-height: 5vh;
}

.reseaux{
    padding: 3%;
    background: linear-gradient(to right , #191B30 , #43243A);
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.reseaux-sociaux{
    width: 13vw;
    display: flex;
    justify-content: space-evenly;
}