body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins';
}

/* en tete avec le logo */
header{
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #141414;
}
/* barre de recherche avec le degrader et la position des A */
#navbar{
    padding: 1%;
    background: linear-gradient(to right , #191B30 , #43243A);
    display: flex;
    justify-content: start;
}

#navbar a{
    color: white;
    text-decoration: none;
    margin-left: 7vw;
    position: relative;
    transition: .2s ease-in-out;
}

#navbar a::after{
    content: "";
    transform-origin: 0 0;
    transform: scaleX(0);
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 3px;
    background: white;
    z-index: 1;
    transition: .4s ease-in-out;
}

#navbar a:hover::after{
    transform: scaleX(1);
}

/* dark mode btn */
.dark-mode-btn{
    background-color: white;
    border: none;
    border-radius: 100%;
    margin-left: 64vw;
}

/* container catégories */
.container-categories{
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 4vw;
    padding-bottom: 2vw;
}

.container-categories h2{
    color: white;
    margin-left: 2vh;
}

.card-categories{
    display: flex;
    justify-content: center;
}

.card{
    background-color: #F3F3F3;
    margin: 2vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
}

.card-text{
    padding: 1.5vh;
    font-size: .8em;
}

.card img{
    width: 100%;
}

/* checkbox */
.check-label{
    font-weight: bold;

}

/* boutton valider */
.button-valide{
    background-color: #141414;
    color: white;
    border: 1px solid #141414;
    padding: 1.5vh;
    margin-left: 2vh;
    transition: .2s linear;
}

.button-valide:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.reseaux{
    padding: 3%;
    background: linear-gradient(to right , #191B30 , #43243A);
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.reseaux-sociaux{
    width: 13vw;
    display: flex;
    justify-content: space-evenly;
}

/* dark part footer */
.container-dark-part-footer{
    background-color: #141414;
    color: white;
}

.nav-dark-part-footer{
    display: flex;
    gap: 5vw;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 5vw;
    padding-bottom: 5vh;
}

.copyright{
    display: flex;
    justify-content: center;
    background: linear-gradient(to right , #191B30 , #43243A);
}

.lst-footer span{
    font-weight: bold;
    padding-bottom: 20px;
}

.lst-footer ul{
    margin-top: 0%;
}

.lst-footer li{
    list-style: none;
    line-height: 5vh;
}

@media only screen and (max-width:1024px) {
    #navbar{
        padding: 2vh;
    }

    /* dark mode btn */
    .dark-mode-btn{
        background-color: white;
        border: none;
        border-radius: 100%;
        margin-left: 30vw;
    }


    .container-categories{
       padding: 0vh;
    }
    .card-categories{
        display: flex;
        /* justify-content: center; */
        flex-wrap: wrap;
    }
    .card{
        width: 100%;
        height: 100%;
    }
        /* boutton valider */
    .button-valide{
        padding: 1.5vh;
        margin-left: 2vh;
        margin-bottom:5vh;
    }
    .reseaux{
        padding: 3%;
        background: linear-gradient(to right , #191B30 , #43243A);
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .reseaux-sociaux{
        display: flex;
        justify-content: space-evenly;
    }
    .reseaux-sociaux img{
        margin: 1vh;
    }
    /* footer */
    .container-dark-part-footer{
        background-color: #141414;
        color: white;
    }
    .nav-dark-part-footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 5vw;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
    .copyright{
        text-align: center;
    }
    .lst-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
