body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins';
}

/* container catégories */
.container-categories{
    background-color: #141414;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.container-categories h2{
    color: white;
    margin-left: 2vh;
}

.card-categories{
    display: flex;
    justify-content: center;
}

.card{
    background-color: #F3F3F3;
    margin: 2vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
}

.card-text{
    padding: 1.5vh;
    font-size: .8em;
}

.card img{
    width: 100%;
}

/* dark part footer */

.container-dark-part-footer{
    background-color: #141414;
    color: white;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 5vw;
    padding-bottom: 2vw;
}

.nav-dark-part-footer{
    display: flex;
    gap: 5vw;
}

.copyright{
    display: flex;
    justify-content: center;
}

.lst-footer span{
    font-weight: bold;
    padding-bottom: 20px;
}

.lst-footer ul{
    margin-top: 0%;
}

.lst-footer li{
    list-style: none;
    line-height: 5vh;
}